<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Add Person</h5></div>
            <div class="card-body">
                <form [formGroup]="personAddForm">
                    <div class="mb-4">
                        <label for="personName">Person name</label>
                        <div class="form-group">
                            <input type="text"
                            id="personName"
                            formControlName="personName" class="form-control"
                            placeholder="Person name"/>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="personSurname">Person surname</label>
                        <div class="form-group">
                            <input type="text"
                            id="personSurname"
                            formControlName="personSurname" class="form-control"
                            placeholder="Person surname"/>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="number">Person number</label>
                        <div class="form-group">
                            <input type="number"
                            id="number"
                            formControlName="number" class="form-control"
                            placeholder="Person number"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Add Person</button>
            </div>
        </div>
    </div>